

:root {
    --font-principal: "Lato", sans-serif;
    --font-secundària: "Raleway", sans-serif;
}



body{
    text-align: center;
    background-color:chocolate;
    padding: 0;
    margin: 0;
    font-family: var(--font-principal);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320%;
    margin: 30px auto;

}

img{
    margin: 0 auto;
    width: 150px;
}

input{
    color: black;
    background-color: aliceblue;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    margin: 10px 0;
}

button{
    color:black;
    background-color:aqua ;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: "Lato", sans-serif;

}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li{
    text-align: center;
    font-size:17px;
    background-color:gold;
    padding: 15px;
    border-radius: 15px;
    flex-grow: 1;
}

ul li:hover{
    background-color:cornflowerblue;
}